<html>
<head>
  <style>
  .text {
    font-size: 14px
  }
  .review {

  }
  body {
    background-image: url("http://cdn.theculturetrip.com/wp-content/uploads/2016/02/restaurant-939435_960_720.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1 {
    font-size: 1em;
  }
  </style>
</head>
<body>
  <div id=" user_pic" >
    Add a profile picture
    <%= form_for :user, url: users_path(current_user), method: :patch do |f| %>
    <%= f.file_field :avatars, multiple: true %><br>
    <p>
      <%= f.submit %>
    </p>
    <% end %>
    <% if current_user.avatars != nil %>
    <% current_user.avatars.each{|avatar|%>
      <%= image_tag(avatar, :size => "260x180")  %>
      <% } %>
      <% end %>
    </div>
    <% if current_user.reviews.length > 0 %>
    <div class="row container">
      <div class="col s2">
      </div>
      <div class="col s8">

        <h4> My reviews <h1>
          <% current_user.reviews.each_with_index do |review, index| %>
          <tr>
            <% restaurant = Restaurant.find(review.restaurant_id) %></td>
            <td class="text"><%=restaurant.name %></td><br>
            <td class="review"><%= review.text %></td><br>
            <td width="45%"><div id="<%= index%>"></div></td>

      </div>
      <div class="col s2">
      </div>
    </div>

        <div class="row container">
          <div class="col s2">
          </div>
          <div class="col s8">
            <div class="col s3">
            </div>
            <div class="col s3">
              <button class="btn waves-effect waves-light white-text" type="submit" name="action">
                <%= link_to 'Edit', edit_review_path(review) %>
                <%if user_signed_in? %>
              </button>
            </div>
            <div class="col s3">
              <button class="btn waves-effect waves-light white-text" type="submit" name="action">
                <%= link_to 'Delete', review_path(review),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
              </button>
            </div>
            <div class="col s3">
            </div>


          </div>
          <div class="col s2">
          </div>
        </div>
      </tr>
      <% end %>
      <script>
      $(document).ready(function() {
        $(function () {
          $("#" + <%=index%>).rateYo({
            rating: <%= review.rating %>,
            starWidth: "20px",
            readOnly: true
          });
        });
      });
      </script>
      <% end %>
      <% end %>
      <h1> My Restaurants <h1>
        <% Restaurant.all.each do |restaurant| %>
        <%if restaurant.user_id == current_user.id %>
        <td><%=restaurant.name %></td><br>
        <%= restaurant.description %>
        <% end %>
        <% end %>





      </body>
      </html>
