<html>
<head>
</head>


<body>
<div id="user_pic" >

  Add a profile picture
  <%= form_for :user, url: users_path(current_user), method: :patch do |f| %>
  <%= f.file_field :avatars, multiple: true %><br>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
  <% if current_user.avatars != nil %>
  <% current_user.avatars.each{|avatar|%>
  <%= image_tag(avatar, :size => "260x180")  %>
  <% } %>
  <% end %>
  </div>

  <% if current_user.reviews.length > 0 %>
<h1> My reviews <h1>
  <% current_user.reviews.each_with_index do |review, index| %>
  <tr>
  <% restaurant = Restaurant.find(review.restaurant_id) %></td>
  <td><%=restaurant.name %></td><br>
  <td><%= review.text %></td><br>
  <td width="45%"><div id="<%= index%>"></div></td>

  <td><%= link_to 'Edit', edit_review_path(review) %></td>
<%if user_signed_in? %>
  <td><%= link_to 'Delete', review_path(review),
  method: :delete,
  data: { confirm: 'Are you sure?' } %></td>
</tr>
  <% end %>
  <script>
  $(document).ready(function() {
    $(function () {
        $("#" + <%=index%>).rateYo({
          rating: <%= review.rating %>,
          starWidth: "20px",
          readOnly: true
        });
  });
  });
  </script>
  <% end %>
  <% end %>

  <h1> My Restaurants <h1>
  <% Restaurant.all.each do |restaurant| %>
    <%if restaurant.user_id == current_user.id %>
    <td><%=restaurant.name %></td><br>
    <%= restaurant.description %>
    <% end %>
    <% end %>





</body>
</html>
