<h1>Edit Restaurant</h1>

<%= form_for :restaurant, url: restaurant_path(@restaurant), method: :patch do |f| %>

  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@restaurant.errors.count, "error") %> prohibited
        this restaurant from being saved:
      </h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <% @restaurant.avatars.each{|avatar|%>
  <%= image_tag(avatar, :size => "260x180")  %>
  <% } %>
  <p> You can replace up to 5 photos </p>
  <%= f.file_field :avatars, multiple: true %><br>
  <%= f.file_field :avatars, multiple: true %><br>
  <%= f.file_field :avatars, multiple: true %><br>
  <%= f.file_field :avatars, multiple: true %><br>
  <%= f.file_field :avatars, multiple: true %><br>
  <%= f.file_field :avatars, multiple: true %>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', restaurants_path %>
