<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>

  <style>
  #map {
    height: 200px;
    width: 20%;
  }

  textarea#review_text {
    width: 100%;
    height: 100px;
  }
  </style>

</head>

<body>

  <div class="container-fluid" style="padding-left:5%;padding-right:5%;">

    <div class="row">
      <h2><%= @restaurant.name %></h2>
      <p>
        <div id="avg" style="display: inline-block;"></div>
        <h5 style="display: inline-block; position: relative;bottom: 5px;">
          <%= @restaurant.reviews.length %> reviews
        </h5>
      </p>
    </div>
    <hr>

    <% @restaurant.avatars.each{|avatar|%>

      <div class="row">
        <div class="col m4">
          <div class="card">
            <div class="card-image">
              <%= image_tag(avatar, size: "250x250") %>
            </div>
          </div>
        </div>
        <% } %>
      </div>

      <hr>

      <div class="row">
        <div class="col s12 m7">
          <div class="card">
              <div class="card-image">
                <div id="map" style="width:100%"></div>
              </div>
              <div class="card-content">
              <p><i class="material-icons left">room</i><%= @restaurant.address %></p><br>
              <p><i class="material-icons left">comment</i><%= @restaurant.description %></p>
              </div>
            </div>
          </div>
      </div>
        <script>
        function initMap() {
          var location = {lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: location
          });
          var marker = new google.maps.Marker({
            position: location,
            map: map
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDEgBHk1qd0PT7WES0ozFGiQB8owSRet8&callback=initMap"
        async defer></script>

        <hr>

        <h4>Reviews</h4>
        <table WIDTH="60%">
          <% @restaurant.reviews.each_with_index do |review, index| %>

          <tr>
            <td width="15%"><h6><%= review.reviewer %></h6></td>
            <td width="45%"><div id="<%= index%>"></div></td>
          </tr>
          <tr>
            <td width="15%"></td>
            <td width="45%"><%= review.text %></td>
          </tr>
          <tr><td colspan="2"><br></td></tr>

          <script>
          $(document).ready(function() {
            $(function () {
              $("#" + <%=index%>).rateYo({
                rating: <%= review.rating %>,
                starWidth: "20px",
                readOnly: true
              });
            });
          });
          </script>


          <% end %>

        </table>
        <hr>

        <% if @restaurant.user_id != @current_user.id%>

        <h4>Add a review:</h4>
        <%= form_for([@restaurant, @restaurant.reviews.build]) do |f| %>

        <p>
          <%= f.label(:text, "Review:") %><br>
          <%= f.text_area(:text) %>
        </p>

        <%= f.hidden_field(:rating) %>

        <p>Rating: <div id="star"></div></p>

        <p>
          <%= f.submit 'Submit', :id => "get", :class => 'waves-effect waves-light btn green accent-4' %>
        </p>

        <% end %>

        <% end %>


        <br><form method="get" action="/restaurants">
          <button class="waves-effect waves-light btn red" type="submit"><i class="material-icons right">list</i>Back to list</button>
        </form>

        <script>
        $(document).ready(function() {
          $(function () {
            var $rateYo = $("#star").rateYo({
              fullStar: true
            });
            $("#get").click(function () {
              var rating = $rateYo.rateYo("rating");
              $("#review_rating").val(rating)
            });
          });

          $(function () {
            $("#avg").rateYo({
              rating: <%= @restaurant.average_rating %>,
              readOnly: true
            });
          });

        })
        </script>

      </div>

    </body>
    </html>
