<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>
    #map {
      height: 200px;
      width: 20%;
          }
    </style>

</head>

<body>
<% @restaurant.avatars.each{|avatar|%>
<%= image_tag avatar  %>
<% } %>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<div id="map"></div>
    <script>
        function initMap() {
          var location = {lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: location
          });
          var marker = new google.maps.Marker({
            position: location,
            map: map
          });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDEgBHk1qd0PT7WES0ozFGiQB8owSRet8&callback=initMap"
    async defer></script>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Average Rating:</strong>
  <%= @restaurant.average_rating %>
</p>

<h2>Reviews</h2>
<% @restaurant.reviews.each do |review| %>
  <p>
    <strong>Reviewer:</strong>
    <%= review.reviewer %>
  </p>

  <p>
    <strong>Review</strong>
    <%= review.text %>
  </p>
  <p>
    <strong>Rating</strong>
    <%= review.rating %>
  </p>
<% end %>
<% if @restaurant.user_id != @current_user.id && !@current_user.nil?%>
<h2>Add a review:</h2>
<%= form_for([@restaurant, @restaurant.reviews.build]) do |f| %>
<p>
  <%= f.label :reviewer %><br>
  <%= f.text_field :reviewer %>
</p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<% elsif @current_user.nil?%>
<h2> You need to be logged in to write a review <h2>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>


<form method="get" action="/restaurants">
    <button type="submit">List</button>
</form>

</body>
</html>
