<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Yelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>

  <div class="navbar-fixed">
    <nav class="green accent-4">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/" class="brand-logo-left" style="height:66px"><img src="http://i.imgur.com/F9keKiK.png" style="width:100px;padding-top:8px"/></a><li>
        <li><a href="/users/<%= current_user.id %>"  ><i class="material-icons left">perm_identity</i>My Profile</a></li>
        <li><a href="/restaurants"><i class="material-icons left">store</i>Restaurants</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>Welcome, <%= current_user.username %></li>
        <li><a href="/users/sign_out" data-method="delete"><i class="material-icons left">launch</i>Sign out</a></li>
      </ul>
    </div>
  </nav>
</div>

  <% end %>

  <% flash.each do |message_type, message| %>
  <% if message_type == "alert" %>
  <div id="card-alert" class="card orange lighten-5">
    <div class="card-content orange-text">
      <li><%= message %></li>
    </div>
  </div>
  <% else %>
  <div id="card-alert" class="card green lighten-5">
    <div class="card-content green-text">
      <li><%= message %></li>
    </div>
  </div>
  <%end%>
  <% end %>


<%= yield %>

</body>
</html>
