<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

</head>

<body>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <div class="section"></div>
  <main>
    <center>

      <div class="section"></div>

      <h5 class="green-text">Create Account</h5>
      <div class="section"></div>

      <div class="container-fluid">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border:2px solid #00c853;width:40%;">

          <div class='row'>
            <div class='input-field col s12'>
              <%= f.label(:username, "Username") %>
              <%= f.text_field :username, :class => "validate", :id=>'username' %>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <%= f.label(:email, "Email") %>
              <%= f.email_field :email, :class => "validate", :id=>'email' %>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
            <%= f.label(:password, "Password (6 Characters Minimum)") %>
            <%= f.password_field :password, autocomplete: "off", :class => "validate", :id=>'password' %>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
            <%= f.label(:password_confirmation, "Password Confirmation")%>
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "validate", :id=>'password' %>
            </div>
          </div>

          <br />
          <center>
            <div class='row'>
              <%= f.submit "Register", :class => 'col s12 btn btn-large green accent-4'  %>
            </div>
          </center>

        </div>
      </div>

      <% end %>

      <div id="fb-root"></div>
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
      <h6> or </h6>
      <a href="/users/sign_in" style="color:#00c853">Login with existing account</a><br>

    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>

<!-- <% if @minimum_password_length %>
  <%= @minimum_password_length %> characters minimum
<% end %> -->
